body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.left-column {
    width: 50%; /* Ocupa la mitad izquierda de la pantalla */
    padding: 20px;
    overflow-y: auto; /* Permite scroll si la lista de productos es muy larga */
    border-right: 1px solid #ddd; /* Separador entre las columnas */
}

.right-column {
    width: 50%; /* Ocupa la mitad derecha de la pantalla */
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

ul#lista-productos {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: 100%; /* Asegura que no crezca más que el contenedor */
    overflow-y: auto; /* Permite hacer scroll si es necesario */
}

ul#lista-productos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.producto-nombre {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
}

.cantidad-control {
    display: flex;
    align-items: center;
}

.cantidad-control span {
    padding: 0 10px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

button[onclick^="actualizarCantidad"] {
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #ddd;
    padding: 5px;
}

button[onclick^="actualizarCantidad"]:hover {
    background-color: #e9ecef;
}

.titulo-columnas {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
}
