{% extends 'base.html' %}

{% block title %}microPOS 1.0{% endblock %}

<styles>
    .selected {
  background-color: black; /* Puedes cambiar el color a tu gusto */
}
</styles>

{% block content %}

<h2 class="text-2xl mb-4 font-semibold">Compras</h2>

<div class="grid grid-cols-12 gap-6 p-1">
    <div class="col-span-3 bg-white shadow-md rounded-lg p-4">
        <div class="mb-4">
            <select id="proveedor_id">
                <option value="">Seleccionar Proveedor</option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
            <div class="mt-2">
                <label for="fecha_compra" class="block mb-1">Fecha de Compra</label>
                <input type="date" id="fecha_compra" class="w-full border p-2">
            </div>
            <div class="mt-2">
                <label for="iva" class="block mb-1">IVA</label>
                <input type="number" step="0.01" id="iva" class="w-full border p-2">
            </div>
            <div class="mt-2">
                <label for="total" class="block mb-1">Total</label>
                <input type="number" step="0.01" id="total" class="w-full border p-2" readonly>  </div>
        </div>
    </div>

    <div class="col-span-8 bg-white shadow-md rounded-lg p-4 overflow-x-auto h-[400px]">
        <table class="table table-xs table-pin-rows table-pin-cols">
            <input type="text" id="codigo_producto" class="border p-2 mt-4" placeholder="Ingrese el código del producto">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Stock</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody id="productos_tabla">
                </tbody>
        </table>
    </div>
</div>

<div class="text-center mt-4">
    <button id="registrar_compra_btn" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">Registrar Compra</button>
</div>

<script src="{{ url_for('static', filename='compras/compras.js') }}"></script>

{% endblock %}