<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <!-- Agrega aquí otras referencias a CSS, fuentes, etc. -->
</head>
<body>

    <div>
        <input type="text" id="codigo" placeholder="Ingrese código del producto">
        <button id="buscar">Buscar</button>
    </div>

    <div id="producto-info"></div> <!-- Aquí se mostrará la información del producto -->

    <!-- Aquí debes colocar la referencia a tu archivo JS -->
    <script src="{{ url_for('static', filename='compras/compras.js') }}"></script>
</body>
</html>
