
{% extends 'base.html' %}

{% block title %}Productos - kPOS{% endblock %}

{% block content %}
<h2 class="text-2xl mb-4 font-semibold">Productos</h2>


<!-- Contenedor principal con diseño de cuadrícula -->
<div class="grid grid-cols-4 gap-6 p-1">
    <!-- Contenedor de formulario para agregar productos (1/4) -->
    <div class="col-span-1 bg-white shadow-md rounded-lg p-4">
        <h2 class="text-2xl font-semibold mb-4">Agregar Producto</h2>
        <form action="{{ url_for('productos.agregar_producto') }}" method="POST" class="mb-6">
            <label class="input input-bordered flex items-center gap-2 mb-2">
                <input type="text" name="nombre" placeholder="Nombre del producto" required class="grow" />
                <i class="bi bi-box-fill h-4 w-4 opacity-70"></i>
            </label>

            <label class="input input-bordered flex items-center gap-2 mb-2">
                <input type="number" name="costo" placeholder="Precio de costo" required class="grow" />
                <i class="bi bi-receipt h-4 w-4 opacity-70"></i>
            </label>

            <label class="input input-bordered flex items-center gap-2 mb-2">
                <input type="number" name="precio" placeholder="Precio de venta" required class="grow" />
                <i class="bi bi-cash h-4 w-4 opacity-70"></i>
            </label>

            <label class="input input-bordered flex items-center gap-2 mb-2">
                <input type="text" id="codigoInput" name="codigo" placeholder="Código de barras" required class="grow" />
                <i class="bi bi-upc h-4 w-4 opacity-70"></i>
            </label>

            <!-- Selección de Marca -->
            <div class="flex items-center gap-2 mb-2">
                <div class="flex-grow">
                    <label for="marca_id" class="block mb-1">Marca</label>
                    <select name="marca_id" id="marca_id" required class="select select-bordered w-full">
                        {% for marca in marcas %}
                            <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{{ url_for('marcas.listar_marcas') }}" class="btn btn-square btn-sm">
                    <i class="bi bi-gear-fill"></i>
                </a>
            </div>

            <!-- Selección de Rubro -->
            <div class="flex items-center gap-2 mb-2">
                <div class="flex-grow">
                    <label for="rubro_id" class="block mb-1">Rubro</label>
                    <select name="rubro_id" id="rubro_id" required class="select select-bordered w-full">
                        {% for rubro in rubros %}
                            <option value="{{ rubro.id }}">{{ rubro.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{{ url_for('rubros.listar_rubros') }}" class="btn btn-square btn-sm">
                    <i class="bi bi-gear-fill"></i>
                </a>
            </div>

            <!-- Selección de Tipo -->
            <div class="flex items-center gap-2 mb-2">
                <div class="flex-grow">
                    <label for="tipo_id" class="block mb-1">Tipo</label>
                    <select name="tipo_id" id="tipo_id" required class="select select-bordered w-full">
                        {% for tipo in tipos %}
                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{{ url_for('tipos.listar_tipos') }}" class="btn btn-square btn-sm">
                    <i class="bi bi-gear-fill"></i>
                </a>
            </div>

            <button type="submit" class="btn btn-primary w-full">Agregar Producto</button>
        </form>
    </div>

    <!-- Contenedor de productos con desplazamiento interno (3/4) -->
    <div class="col-span-3 bg-white shadow-md rounded-lg p-4">
        <input type="text" placeholder="Escribe para buscar" class="input w-full max-w-xs mb-4"/>
        <div class="overflow-x-auto h-[400px]">
            <table class="table table-xs table-pin-rows table-pin-cols">
                <thead>
                    <tr>
                        <th></th>
                        <td style="width: 100px;">Código</td>
                        <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Nombre</td>
                        <td>Costo</td>
                        <td>Precio</td>
                        <td>Stock</td>
                        <td>Acciones</td>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr class="{% if loop.index is even %}bg-gray-100{% else %}bg-white{% endif %}">
                        <th>{{ loop.index }}</th>
                        <td>{{ producto.codigo1 }}</td>
                        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ producto.nombre }}</td>
                        <td>${{ producto.costo }}</td>
                        <td>${{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>
                            <a href="{{ url_for('productos.editar_producto', id=producto.id) }}" class="text-blue-500 hover:underline">Editar</a>
                            <form action="{{ url_for('productos.eliminar_producto', id=producto.id) }}" method='POST' style='display:inline;'>
                                <button type='submit' class='text-red-500 hover:underline ml-4'>Eliminar</button>
                            </form>
                        </td>
                        <th>{{ loop.index }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <td>Código</td>
                        <td>Nombre</td>
                        <td>Costo</td>
                        <td>Precio</td>
                        <td>Stock</td>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- Formulario para cargar productos (XLS/XLSX) -->
        <div class="mt-4">
            <h3 class="text-xl font-semibold mb-2">Cargar archivo de productos (XLS/XLSX)</h3>
            <form action="{{ url_for('productos.cargar_productos') }}" method="POST" enctype="multipart/form-data" class="flex items-center gap-4">
                <input type="file" id="file" name="file" required class="border border-gray-300 rounded p-2 w-full">
                <button type='submit' class='bg-blue-600 text-white px-4 py-2 rounded hover:bg-green-500 transition duration-300'>Cargar Productos</button>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='productos/productos.js') }}"></script>
{% endblock %}